*		text eol=lf linguist-language=XML
*.txt	text eol=lf linguist-language=Text
*.uxt	text eol=lf linguist-language=Text
*.py	text=auto linguist-language=Python
*.bin	-text -linguist-language linguist-vendored
*.xls	-text -linguist-language linguist-vendored
*.doc	-text -linguist-language linguist-vendored
*.cfg	text=auto linguist-language=C linguist-vendored
*.csv	text eol=lf linguist-language=CSV
