syntax: glob

# NeL cache
*.packed_sheets

# Ryzom save
save_shard
last_loaded_char.bin
*.binprim
*.string_cache
graphs_output
default_c

# Log dump files
report_refused
report_failed
exception_catched
*.stat
*.log
log.txt

# Mac OS X garbage
.DS_Store

# Wine garbage
.windows-serial

# Ryzom server garbage
aes_alias_name.cfg
aes_nagios_report.txt
aes_state.txt
*.launch_ctrl
*.state
*.start_count

# Vim and kwrite cache
*~

# Python cache
*.pyd
*.pyc

# Sync garbage
.SyncID
.SyncIgnore
.SyncArchive

#Dumps
*.dmp

game_elem/sheets.txt
workspace/continents/r2_desert/generated/island_screenshots.cfg
workspace/continents/newbieland/generated/properties.cfg
workspace/continents/newbieland/generated/ai_build_wmap.cfg
workspace/continents/indoors/generated/ai_build_wmap.cfg
workspace/common/fauna/generated/clod_paths.cfg
workspace/common/construction/generated/properties.cfg
workspace/continents/r2_desert/generated/land_exporter.cfg
workspace/continents/r2_desert/generated/build_world_packed_col.cfg
workspace/continents/r2_desert/generated/ai_build_wmap.cfg
workspace/continents/newbieland/generated/land_exporter.cfg
workspace/continents/indoors/generated/properties.cfg
workspace/common/outgame/generated/properties.cfg
workspace/common/characters/generated/clod_paths.cfg
workspace/common/sky/generated/properties.cfg
workspace/continents/r2_desert/generated/properties.cfg
workspace/continents/r2_desert/generated/zone_dependencies.cfg
workspace/common/characters_maps_hr/generated/current_panoply.cfg
workspace/continents/newbieland/generated/zone_dependencies.cfg
workspace/continents/fyros/generated/properties.cfg
workspace/continents/fyros/generated/land_exporter.cfg
workspace/continents/fyros/generated/ai_build_wmap.cfg
workspace/continents/fyros/generated/zone_dependencies.cfg
workspace/continents/fyros_newbie/generated/land_exporter.cfg
workspace/continents/fyros_island/generated/ai_build_wmap.cfg
workspace/continents/fyros_newbie/generated/properties.cfg
workspace/continents/fyros_island/generated/properties.cfg
workspace/continents/fyros_newbie/generated/ai_build_wmap.cfg
workspace/continents/fyros_island/generated/land_exporter.cfg
workspace/continents/fyros_newbie/generated/zone_dependencies.cfg
workspace/continents/fyros_island/generated/zone_dependencies.cfg
workspace/continents/zorai_island/generated/zone_dependencies.cfg
workspace/continents/zorai_island/generated/land_exporter.cfg
workspace/continents/zorai/generated/properties.cfg
workspace/continents/zorai/generated/ai_build_wmap.cfg
workspace/continents/zorai_island/generated/properties.cfg
workspace/continents/zorai/generated/zone_dependencies.cfg
workspace/continents/zorai/generated/land_exporter.cfg
workspace/continents/zorai_island/generated/ai_build_wmap.cfg
workspace/continents/r2_jungle/generated/properties.cfg
workspace/continents/r2_jungle/generated/land_exporter.cfg
workspace/continents/r2_jungle/generated/build_world_packed_col.cfg
workspace/continents/r2_jungle/generated/ai_build_wmap.cfg
workspace/continents/r2_jungle/generated/island_screenshots.cfg
workspace/continents/r2_jungle/generated/zone_dependencies.cfg
workspace/continents/r2_forest/generated/land_exporter.cfg
workspace/continents/r2_forest/generated/island_screenshots.cfg
workspace/continents/r2_forest/generated/build_world_packed_col.cfg
workspace/continents/r2_forest/generated/ai_build_wmap.cfg
workspace/continents/matis_island/generated/land_exporter.cfg
workspace/continents/matis_island/generated/ai_build_wmap.cfg
workspace/continents/matis/generated/zone_dependencies.cfg
workspace/continents/matis/generated/properties.cfg
workspace/continents/r2_forest/generated/properties.cfg
workspace/continents/matis/generated/land_exporter.cfg
workspace/continents/matis/generated/ai_build_wmap.cfg
workspace/continents/corrupted_moor/generated/properties.cfg
workspace/continents/corrupted_moor/generated/land_exporter.cfg
workspace/continents/corrupted_moor/generated/ai_build_wmap.cfg
workspace/continents/nexus/generated/properties.cfg
workspace/continents/nexus/generated/land_exporter.cfg
workspace/continents/nexus/generated/ai_build_wmap.cfg
workspace/continents/matis_island/generated/properties.cfg
workspace/continents/corrupted_moor/generated/zone_dependencies.cfg
workspace/continents/nexus/generated/zone_dependencies.cfg
workspace/continents/matis_island/generated/zone_dependencies.cfg
workspace/continents/r2_forest/generated/zone_dependencies.cfg
workspace/continents/tryker_island/generated/properties.cfg
workspace/continents/tryker/generated/land_exporter.cfg
workspace/continents/r2_lakes/generated/ai_build_wmap.cfg
workspace/continents/tryker_newbie/generated/land_exporter.cfg
workspace/continents/tryker/generated/properties.cfg
workspace/continents/r2_lakes/generated/land_exporter.cfg
workspace/continents/tryker_newbie/generated/ai_build_wmap.cfg
workspace/continents/tryker/generated/zone_dependencies.cfg
workspace/continents/r2_lakes/generated/properties.cfg
workspace/continents/tryker_newbie/generated/properties.cfg
workspace/continents/tryker_island/generated/land_exporter.cfg
workspace/continents/tryker_island/generated/ai_build_wmap.cfg
workspace/continents/tryker/generated/ai_build_wmap.cfg
workspace/continents/tryker_newbie/generated/zone_dependencies.cfg
workspace/continents/tryker_island/generated/zone_dependencies.cfg
workspace/continents/r2_lakes/generated/zone_dependencies.cfg
workspace/continents/sources/generated/zone_dependencies.cfg
workspace/continents/route_gouffre/generated/zone_dependencies.cfg
workspace/continents/route_gouffre/generated/land_exporter.cfg
workspace/continents/route_gouffre/generated/ai_build_wmap.cfg
workspace/continents/bagne/generated/land_exporter.cfg
workspace/continents/terre/generated/properties.cfg
workspace/continents/sources/generated/land_exporter.cfg
workspace/continents/bagne/generated/properties.cfg
workspace/continents/terre/generated/zone_dependencies.cfg
workspace/continents/sources/generated/properties.cfg
workspace/continents/route_gouffre/generated/properties.cfg
workspace/continents/bagne/generated/zone_dependencies.cfg
workspace/continents/terre/generated/ai_build_wmap.cfg
workspace/continents/sources/generated/ai_build_wmap.cfg
workspace/continents/bagne/generated/ai_build_wmap.cfg
workspace/continents/terre/generated/land_exporter.cfg
workspace/continents/r2_roots/generated/ai_build_wmap.cfg
workspace/continents/r2_roots/generated/land_exporter.cfg
workspace/continents/r2_roots/generated/zone_dependencies.cfg
workspace/continents/r2_roots/generated/properties.cfg
workspace/continents/r2_roots/generated/build_world_packed_col.cfg
workspace/continents/r2_lakes/generated/build_world_packed_col.cfg
workspace/continents/r2_lakes/generated/island_screenshots.cfg
workspace/continents/r2_roots/generated/island_screenshots.cfg
workspace/continents/kitiniere/generated/zone_dependencies.cfg
workspace/continents/kitiniere/generated/properties.cfg
workspace/continents/kitiniere/generated/ai_build_wmap.cfg
workspace/continents/kitiniere/generated/land_exporter.cfg
